@media screen and (min-width: 1020px) {

  #date{
    font-size: 2em;
    top: 25%;
  }

  #birthdayMs{
    top: 8%;
    height: 15%;
  }

  .flag{
    width: 30%;
  }

  #date{
    font-size: 5em;
  }

  #cake{
    height: 50%;
  }

  #balloon{
    height: 40%;
  }

  .note{
    width: 5%;
    min-width: 120px;
    right: 15%;
  }

  footer{
    font-size: 1em;
  }

}