@import url(reset.css);
@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans");
@import url("https://use.fontawesome.com/releases/v5.0.12/css/all.css");


@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes horizontal {
    0% { transform:translateY(  -50px); }
    100% { transform:translateY(  0px); }
}

@keyframes scale {
    0% { transform: scale(1.0); }
    100% { transform: scale(2.0); }
}

@keyframes scale {
    0% { transform: scale(1.0); }
    100% { transform: scale(2.0); }
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.spin{
  animation: spin 1.5s linear infinite;
}

body{
  background: linear-gradient(#FFAD90, #FFF8DC );
}

#wrapper{
  height: 100vh;
  position: relative;
}


#cover{
  height: 100%;
  width: 100%;
  background:#FFF8DC;
  position: absolute;
  z-index: 5;
  transition: all 5s;
}

#btn{
  width:500px;
  height:200px;
  background:skyblue;
  border-radius:50%;
  margin: auto;
  display: flex;
  justify-content: center; /*左右中央揃え*/
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 0 10px 0 #0B3861;
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  right: 50%;
}

.balloones{
  width: 8%;
  position: absolute;
  bottom: 0%;
  right: 5%;
  z-index: 1;
  opacity: 0;
}

#btn:hover{
  opacity: 1;
}

#btn:active{
  margin-top:36px;
  box-shadow: 0 0 0;
}

#date{
  position: absolute;
  font-size: 7vw;
  top: 18%;
  right: 50%;
  transform: translate(50% ,0%);
  font-family: 'Black Han Sans', sans-serif;
}

/*  */
#music{
  max-width: 300px;
  position: absolute;
  width: 40%;
  background: white;
  right: 17%;
  top: 45%;
  z-index: 1;
  text-align: center;
  display: inline-block;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  display: none;
  opacity: 0.9;
  box-shadow: 10px 10px 30px black;
}

#art{
  width: 50%;
  margin-top: 5%;
}

#title{
  font-size: 3vw;
  margin-top: 1vw;
  width: 100%;
  font-family: 'Black Han Sans', sans-serif;
}

/* #itMic{
  width: 50%;
} */

.fas{
  font-size: 3em;
  margin: 10%;
  transition: all .5s;
}

#dowload{
  font-size: 3vw;
  padding: .3em;
  border: solid 1px;
  margin: .5em 2em 2em 2em;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  font-family: sans-serif;
  cursor: pointer;
}

#dowload:active{
  background: black;
  color: white;
}

/*  */


#birthdayMs{
  position: absolute;
  top: 5%;
  transform: translate(50%, 0%);
  right: 50%;
}

.flag{
  width: 50%;
}


#cake{
  width: 90%;
  position: absolute;
  bottom: 3%;
  right: 50%;
  transform: translate(50% ,0%);
}

#balloon{
  width: 20%;
  position: absolute;
  top: 30%;
  left: 6%;
  z-index: 0;
  cursor: pointer;
  animation: horizontal 1s ease-in-out infinite alternate;
}

.note{
  position: absolute;
  width: 15%;
  top: 30%;
  right: 10%;
}

.note:active{
  animation: scale .1s;
}

.position_random{
  bottom: 30%;
  right: 30%;
}

.position_ramdom_2{
  bottom: 20%;
  left: 10%;
}

.position_ramdom_3{
  bottom: 10%;
  left: 20%;
}

.position_ramdom_4{
  bottom: 10%;
  left: 40%;
}

footer{
  position: absolute;
  bottom: 0%;
  width: 100%;
  font-size: 4vw;
  text-align: center;
  font-family: sans-serif;
}

.clear{
  clear: both;
}

.right{
  float: right;
}

.left{
  float: left;
  transform: scale(-1, 1);
}
