@import url(reset.css);

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
@keyframes horizontal {
  0% { -webkit-transform:translateY(  -50px); }
  100% { -webkit-transform:translateY(  0px); }
}



body{
  background: linear-gradient(#FFAD90
  , #FFF8DC );
}

#wrapper{
  height: 100vh;
  position: relative;
}

#cover{
  height: 100%;
  width: 100%;
  background:#FFF8DC;
  position: absolute;
  z-index: 5;
  transition: all 5s;
}

#btn{
  width:500px;
  height:200px;
  background:skyblue;
  border-radius:50%;
  margin: auto;
  display: flex;
  justify-content: center; /*左右中央揃え*/
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 0 10px 0 #0B3861;
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  right: 50%;
}

.balloones{
  width: 8%;
  position: absolute;
  bottom: 0%;
  right: 5%;
  z-index: 1;
  opacity: 0;
}

#btn:hover{
  opacity: 1;
}

#btn:active{
  margin-top:36px;
  box-shadow: 0 0 0;
}
#date{
  position: absolute;
  font-size: 5em;
  top: 18%;
  right: 50%;
  transform: translate(50% ,0%);
  font-family: 'Black Han Sans', sans-serif;
}

#birthdayMs{
  position: absolute;
  top: 5%;
  transform: translate(50%, 0%);
  right: 50%;
}

.flag{
  width: 50%;
}


#cake{
  width: 90%;
  position: absolute;
  bottom: 3%;
  right: 50%;
  transform: translate(50% ,0%);
}

#balloon{
  width: 20%;
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 1;
  animation: horizontal 1s ease-in-out infinite alternate;
  cursor: pointer;
}

.position_random{
  bottom: 30%;
  right: 30%;
}

.position_ramdom_2{
  bottom: 20%;
  left: 10%;
}

.position_ramdom_3{
  bottom: 10%;
  left: 20%;
}

.position_ramdom_4{
  bottom: 10%;
  left: 40%;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 2.5em;
  text-align: center;
  font-family: sans-serif;
}

.clear{
  clear: both;
}

.right{
  float: right;
}

.left{
  float: left;
  transform: scale(-1, 1);
}
