@import url(reset.css);
@import url(desktop.css);

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
@keyframes horizontal {
  0% { -webkit-transform:translateY(  -50px); }
  100% { -webkit-transform:translateY(  0px); }
}

body{
  background: linear-gradient(#FFAD90
  , #FFF8DC );
}

#wrapper{
  height: 100vh;
  position: relative;
  animation: fadeIn 8s ease 0s 1 normal;
}

#date{
  position: absolute;
  font-size: 5em;
  top: 18%;
  right: 50%;
  transform: translate(50% ,0%);
  font-family: 'Black Han Sans', sans-serif;
}

#birthdayMs{
  position: absolute;
  top: 10%;
  transform: translate(0 ,-50%);
}

.flag{
  width: 50%;
}


#cake{
  width: 90%;
  position: absolute;
  bottom: 3%;
  right: 50%;
  transform: translate(50% ,0%);
}
.eaten{
  width: 300px;
  height: 300px;
  top: 70%;
  z-index: 100;
  position: absolute;
}
#balloon{
  width: 20%;
  position: absolute;
  bottom: 30%;
  left: 5%;
  z-index: -1;
  animation: horizontal 1s ease-in-out infinite alternate;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 2.5em;
  text-align: center;
  font-family: sans-serif;
}

.clear{
  clear: both;
}

.right{
  float: right;
}

.left{
  float: left;
  transform: scale(-1, 1);
}